<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h2 style="text-align:center;"><a class="modal-title" href="" id="myModalLabel" target="_blank">Modal 标题</a></h2>
                <div class="row news-meta">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <span id="release_time">发布时间：</span>
                    </div>

                    <div class="col-md-3">
                        <span id="source">来源：</span>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <!-- 新闻正文 -->
                <!--<textarea class="form-control" name="" id="newsContent" style="min-width: 90%" rows="18">-->
                <!--消息内容-->
				<!--</textarea>-->
                <div class="well well-lg" id="newsContent" style="min-width: 90%">
					消息内容
				</div>

                <!-- 新闻图片 -->
                <div id="newsPic" style="text-align: center;">
                </div>
            </div>

            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            <!--</div>-->
        </div>
    </div>
</div>